* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-color: beige;
}

header {
    color: #0b0b68;
    background-color: #f0ead6;
    border-bottom: 8px solid #3333a7;
}

#about {
    text-align: center;
}

footer {
    line-height: 40px;
    color: darkblue;
    background-color: cornsilk;
}